.nav {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

ul {
    display: flex;
    gap: .5rem;
    list-style: none
}

#logo {
    font-size: 1rem;
    font-family: var(--fontBold);
  }