@font-face {
  font-family: Poppins-Light;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

:root {
  --fontRegular: Poppins;
  --fontLight: Poppins-Light;
  --fontBold: Poppins-Bold;
  --Color-01: #23283e;
  --Color-02: #2a2f4c;
  --Color-03: #bdbddd;
  --Color-04: #cdcdff;
  --Color-05: #90a0d9;

}

html {
  scroll-behavior: smooth;
  font-family: var(--fontRegular);
  background-color: var(--Color-01);
  color: var(--Color-04);
}

a {
  text-decoration: none;
  color: var(--Color-04);
  font-family: var(--fontLight);

}

.projects {
  display: flex;
  justify-content: center;
  gap: .9rem;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontBold);
  color: var(--Color-03);
  text-align: center;

}

header p {
  text-align: center;

}